.index-search {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 700px;
    height: 30%;
    transform: translateX(-50%);

    &__autocomplete{
        background: #fff;
        width: 40%;
       border:1px solid #d2d5db;
        /*top: calc(100% + 2px);*/
       z-index:100;
	height:120px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.8);
	position:absolute;
            display: none;
            &_active{
                display: block;
                 
            }
        &-item{
            width: 100%;
            padding: 3px 20px;
            cursor: pointer;
            white-space: nowrap;
            color: #333;
            &:hover {
                text-decoration: none;
                color: #fff;
                background-color: #9e0b0f;
            }
        }
    }

    &__container {
    	background:#fff;
        display: block;
        width: 100%;
        height: 200px;
        border-radius:4px;
    }

    &__select {
        
        position: relative;
        width: 20%;
        height: 30px;
        border-radius: 4px 0 0 4px;
        background: #fff;
        margin-top:15px;
	margin-left:40px; 
       display:inline-block;
        & p{
        	margin-bottom:5px;
		font-size: 14px;
		    white-space: nowrap;
		    color: #777;
        }
    }

    &__filter {
       line-height: 30px;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-align: center;
       font-size:13px;
	 border:1px solid #d9d9d9;
            border-radius:6px;
        &::after {
            position: absolute;
            top: 50%;
            right: 9px;
            display: block;
            width: 0;
            height: 0;
            margin-top: -2px;
            margin-left: 2px;
            content: '';
            vertical-align: middle;
            border-top: 4px dashed #333;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
    }

    &__list {
        position:absolute;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.8);
        width: 100%;
        background: #fff;
    }

    &__item {
        width: 100%;
        padding: 4px 8px;
        cursor: pointer;
        transition: 0.4s;
        text-align: center;
font-size:13px;
        &:hover {
            background: #ccc;
        }
    }
	&__select1 {
        
        display:inline-block;
        width: 20%;
        height: 30px;
        border-radius: 4px 0 0 4px;
        background: #fff;
        margin-top:15px;
	margin-left:40px; 
       
        & p{
        	margin-bottom:5px;
		font-size: 14px;
		    white-space: nowrap;
		    color: #777;
        }
    }

    &__filter1 {
       line-height: 30px;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-align: center;
       font-size:13px;
	 border:1px solid #d9d9d9;
            border-radius:6px;
        &::after {
            position: absolute;
            top: 50%;
            right: 9px;
            display: block;
            width: 0;
            height: 0;
            margin-top: -2px;
            margin-left: 2px;
            content: '';
            vertical-align: middle;
            border-top: 4px dashed #333;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
    }

    &__list1 {
       position:absolute;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.8);
        width: 20%;
        background: #fff;
    }

    &__item1 {
        width: 100%;
        padding: 4px 8px;
        cursor: pointer;
        transition: 0.4s;
        text-align: center;
	font-size:12px;
        &:hover {
            background: #ccc;
        }
    }
    /*&__input {
        position: relative;
        width: 75%;

        input {
            width: 100%;
            height: 36px;
            padding-left: 20px;
            border: none;
            background: #fff;
        }
    }*/

    &__tabs {
        position: absolute;
        bottom: 100%;
        left: 0;
        display: flex;
        align-items: flex-end;
    }

    &__tab {
        font-size: 14px;
        padding: 6px 25px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 3px 3px 0 0;
        background: #fff;

        &_active {
            padding: 8px 25px;
            color: #fff;
            border-color: #9e0b0f;
            background: #9e0b0f;
        }
    }

    &__btn {
        
        width: 80px;
        height: 36px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        background: #9e0b0f;
	margin-top:30px;
	margin-left:310px;
        &_load {
            &::after {
                position: absolute;
                z-index: 2000;
                top: 50%!important;
                left: 50%!important;
                margin: -13px 0 0 -11px !important;
                content: '';
                -webkit-transition: 0.4s;
                transition: 0.4s;
                -webkit-animation: loadingSpinner 0.7s infinite linear;
                animation: loadingSpinner 0.7s infinite linear;
                border: 4px solid #fff;
                border-top-color: transparent;
                border-left-color: transparent;
                border-radius: 50%;
                background: transparent!important;
            }
        }

        i{
            color: #fff;
            font-size: 16px;
        }
    }
}
.location{
	width:40%;
	margin-top:15px;
	margin-left:20px;
	display:inline-block;
	height:30px;
	& p{
		margin-bottom:5px;
		font-size: 14px;
		    white-space: nowrap;
		    color: #777;
	}
}
.price_slide{
	width:20%;
	margin-top:15px;
	margin-left:20px;
	display:inline-block;
	& p{
		margin-bottom:5px;
		font-size: 14px;
		    white-space: nowrap;
		    color: #777;
	}
	& span{
		font-size:10px;
	}
}
.area_slide{
	width:20%;
	margin-top:15px;
	margin-left:20px;
	display:inline-block;
	& p{
		margin-bottom:5px;
		font-size: 14px;
		    white-space: nowrap;
		    color: #777;
	}
	& span{
		font-size:10px;
	}
}
.bed_slide{
	width:20%;
	margin-top:15px;
	margin-left:20px;
	display:inline-block;
	& p{
		
		font-size: 14px;
		    white-space: nowrap;
		    color: #777;
	}
	
}
.bath_slide{
	width:20%;
	margin-top:15px;
	margin-left:20px;
	display:inline-block;
	& p{
		
		font-size: 14px;
		    white-space: nowrap;
		    color: #777;
	}
	& span{
		font-size:10px;
	}
}
.location input {
	   
            width: 100%;
            height: 30px;
            padding-left: 20px;
           
           border:1px solid #d9d9d9;
            border-radius:6px;
        }
@-webkit-keyframes loadingSpinner {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loadingSpinner {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
